h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    background-image: url(big_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 140vh;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content_box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;

}

.content_socials h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
}

.social {
    margin-top: 10px;
}

.social a {
    font-size: 30px;
    margin-left: 15px;
}

.social i {
    font-size: 28px;
    text-align: center;
}

@media (min-width: 2560px) {
    .content_box {
        width: 600px;
    }

    .content_socials h1 {
        font-size: 60px;
        font-weight: 700;
    }

    .social a {
        font-size: 60px;
        margin-left: 15px;
    }

    .social i {
        font-size: 48px;
    }
}

@media (max-width: 1024px) {
    section {
        background-image: url(big_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 110vh;
    }

    .content_box {
        width: 250px;
    }

    .content_socials h1 {
        font-size: 30px;
        font-weight: 100px;
    }
}

@media (max-width: 768px) {
    section {
        background-image: url(big_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    .content_box {
        width: 220px;
    }

    .content_socials h1 {
        font-size: 25px;
        font-weight: 100px;
    }

    .social a {
        font-size: 20px;
        margin-left: 5px;
    }

    .social i {
        font-size: 20px;
    }
}